<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Partner</title>
    <%- include('./_link.ejs') %>
</head>

<body>
    <!--::header part start::-->
    <%- include('./_menu.ejs') %>
    <!-- Header part end-->

    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Partner</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/partner_sm.png" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" target="_blank">
                                    <h2>SM Entertainment</h2>
                                </a>
                                <p>SM Entertainment Co., Ltd. is South Korea's largest entertainment company, founded in 1995 by Lee Soo-man. 
                                    The company has developed and popularized numerous K-pop stars with huge global fandoms.</p>
                                <ul class="blog-info-link">
                                    <li><a><i class="far fa-user"></i>Korea</a></li>
                                    <li><a><i class="far fa-comments"></i>from 2017</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/partner_jyp.png" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>JYP Entertainment</h2>
                                </a>
                                <p>JYP Entertainment Corporation is a South Korean multinational entertainment and record label conglomerate founded in 1997 by J. Y. Park.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i>Korean</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i>from 2015</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/partner_yg.png" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>YG Entertainment</h2>
                                </a>
                                <p>YG Entertainment is a South Korean entertainment company established in 1996 by Yang Hyun-suk. 
                                    The company operates as a record label, talent agency, music production company, event management and concert production company, and music publishing house.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i>Korea</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> from 2013</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/partner_starship.png" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Starship Entertainment</h2>
                                </a>
                                <p>Starship Entertainment is a South Korean entertainment company established 
                                    in 2008 and a subsidiary of Kakao M under its Music Content Company division.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i>Korea</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i>from 2018</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!--::footer_part start::-->
    <%- include('./_footer.ejs') %>
    <!--::footer_part end::-->

</body>

</html>